html,
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 4vh 3vw;
}

body > div:first-child {
  width: 100%;
}

#main-logo-rectangle {
  cursor: pointer;
  transition: 0.5s all;
}

#main-logo-rectangle:hover {
  opacity: 0.9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
